body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-37px;
  width:1144px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:410px;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:730px;
  height:410px;
  display:flex;
}
#u5643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:245px;
  width:184px;
  height:54px;
  display:flex;
}
#u5645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:17px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:251px;
  width:147px;
  height:17px;
  display:flex;
}
#u5646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:253px;
  width:49px;
  height:13px;
  display:flex;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u5647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5647_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:252px;
  width:1px;
  height:13px;
  display:flex;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5648_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u5649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:247px;
  width:51px;
  height:51px;
  display:flex;
}
#u5649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:278px;
  width:45px;
  height:13px;
  display:flex;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u5650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:253px;
  width:34px;
  height:13px;
  display:flex;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u5651 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5651_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:189px;
  width:92px;
  height:14px;
  display:flex;
}
#u5652 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5652_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:203px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u5653_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u5653_seg1 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:48px;
  width:6px;
  height:10px;
}
#u5653_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:334px;
  width:78px;
  height:14px;
  display:flex;
}
#u5654 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5654_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:334px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u5655_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:10px;
  height:44px;
}
#u5655_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:6px;
  height:10px;
}
#u5655_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:189px;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:236px;
  width:107px;
  height:189px;
  display:flex;
}
#u5656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:341px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u5657_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:103px;
  height:10px;
}
#u5657_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-1px;
  width:10px;
  height:6px;
}
#u5657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#F2F2F2;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:411px;
  width:18px;
  height:6px;
  display:flex;
  font-size:6px;
  color:#F2F2F2;
}
#u5658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:410px;
  width:8px;
  height:8px;
  display:flex;
}
#u5659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#F2F2F2;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:411px;
  width:3px;
  height:6px;
  display:flex;
  font-size:6px;
  color:#F2F2F2;
}
#u5660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5660_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:407px;
  width:78px;
  height:14px;
  display:flex;
}
#u5661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5661_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:414px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u5662_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:38px;
  height:10px;
}
#u5662_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:196px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u5663_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:204px;
  height:10px;
}
#u5663_seg1 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:-5px;
  width:10px;
  height:45px;
}
#u5663_text {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:352px;
  width:91px;
  height:14px;
  display:flex;
}
#u5664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5664_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:90px;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:387px;
  width:114px;
  height:90px;
  display:flex;
}
#u5665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:359px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u5666_seg0 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-5px;
  width:77px;
  height:10px;
}
#u5666_seg1 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-5px;
  width:10px;
  height:52px;
}
#u5666_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
