body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:3404px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:1006px;
  height:565px;
  display:flex;
  transition:none;
}
#u4413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
}
#u4413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.4196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:1006px;
  height:565px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4416 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:652px;
  width:461px;
  height:431px;
  display:flex;
  transition:none;
}
#u4416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:431px;
}
#u4416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4417 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:660px;
  width:451px;
  height:423px;
  display:flex;
  transition:none;
}
#u4417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:423px;
}
#u4417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4418 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:845px;
  width:63px;
  height:62px;
  display:flex;
  transition:none;
}
#u4418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:62px;
}
#u4418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4419 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:845px;
  width:79px;
  height:55px;
  display:flex;
  transition:none;
}
#u4419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:55px;
}
#u4419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:18px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4420 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:944px;
  width:414px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4421 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:945px;
  width:51px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
  display:flex;
  transition:none;
}
#u4424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
}
#u4424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.4196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4427 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:68px;
  width:461px;
  height:431px;
  display:flex;
  transition:none;
}
#u4427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:431px;
}
#u4427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4428 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:76px;
  width:451px;
  height:423px;
  display:flex;
  transition:none;
}
#u4428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:423px;
}
#u4428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4429 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:258px;
  width:129px;
  height:67px;
  display:flex;
  transition:none;
}
#u4429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:67px;
}
#u4429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u4432 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:264px;
  width:54px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u4433 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:277px;
  width:34px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u4433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4434 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:355px;
  width:140px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4437 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:83px;
  width:1006px;
  height:565px;
  display:flex;
  transition:none;
}
#u4437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
}
#u4437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.4196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:83px;
  width:1006px;
  height:565px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:1960px;
  top:151px;
  width:461px;
  height:431px;
  display:flex;
  transition:none;
}
#u4440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:431px;
}
#u4440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:159px;
  width:451px;
  height:423px;
  display:flex;
  transition:none;
}
#u4441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:423px;
}
#u4441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:2056px;
  top:341px;
  width:129px;
  height:67px;
  display:flex;
  transition:none;
}
#u4442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:67px;
}
#u4442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:2054px;
  top:347px;
  width:54px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:2064px;
  top:360px;
  width:34px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u4446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:2121px;
  top:438px;
  width:140px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4447_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.4745098039215686);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:1584px;
  top:15px;
  width:300px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:427px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:1507px;
  top:157px;
  width:453px;
  height:427px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:1734px;
  top:71px;
  width:0px;
  height:0px;
  transition:none;
}
#u4450_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:92px;
}
#u4450_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:48px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.4745098039215686);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:2502px;
  top:350px;
  width:132px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:2108px;
  top:374px;
  width:0px;
  height:0px;
  transition:none;
}
#u4452_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:400px;
  height:12px;
}
#u4452_text {
  border-width:0px;
  position:absolute;
  left:147px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:2191px;
  top:438px;
  width:0px;
  height:0px;
  transition:none;
}
#u4453_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-70px;
  width:12px;
  height:70px;
}
#u4453_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-70px;
  width:317px;
  height:12px;
}
#u4453_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-72px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4454 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:660px;
  width:444px;
  height:420px;
  display:flex;
  transition:none;
}
#u4454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:420px;
}
#u4454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:718px;
  width:1006px;
  height:565px;
  display:flex;
  transition:none;
}
#u4457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
}
#u4457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:565px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.4196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:718px;
  width:1006px;
  height:565px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:1960px;
  top:786px;
  width:461px;
  height:431px;
  display:flex;
  transition:none;
}
#u4460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:431px;
}
#u4460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:794px;
  width:451px;
  height:423px;
  display:flex;
  transition:none;
}
#u4461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:423px;
}
#u4461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:2057px;
  top:979px;
  width:63px;
  height:62px;
  display:flex;
  transition:none;
}
#u4462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:62px;
}
#u4462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:2121px;
  top:979px;
  width:79px;
  height:55px;
  display:flex;
  transition:none;
}
#u4463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:55px;
}
#u4463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:18px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4464 {
  border-width:0px;
  position:absolute;
  left:1981px;
  top:1078px;
  width:414px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4465 {
  border-width:0px;
  position:absolute;
  left:2165px;
  top:1079px;
  width:51px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4465_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4466 {
  border-width:0px;
  position:absolute;
  left:1512px;
  top:794px;
  width:444px;
  height:420px;
  display:flex;
  transition:none;
}
#u4466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:420px;
}
#u4466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:56px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.4745098039215686);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4467 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:994px;
  width:111px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:56px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.4745098039215686);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4468 {
  border-width:0px;
  position:absolute;
  left:2534px;
  top:979px;
  width:111px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:56px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.4745098039215686);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4469 {
  border-width:0px;
  position:absolute;
  left:2534px;
  top:1059px;
  width:111px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4470 {
  border-width:0px;
  position:absolute;
  left:2534px;
  top:1007px;
  width:0px;
  height:0px;
  transition:none;
}
#u4470_seg0 {
  border-width:0px;
  position:absolute;
  left:-413px;
  top:-6px;
  width:419px;
  height:12px;
}
#u4470_text {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4471 {
  border-width:0px;
  position:absolute;
  left:2534px;
  top:1087px;
  width:0px;
  height:0px;
  transition:none;
}
#u4471_seg0 {
  border-width:0px;
  position:absolute;
  left:-318px;
  top:-6px;
  width:324px;
  height:12px;
}
#u4471_text {
  border-width:0px;
  position:absolute;
  left:-209px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4472 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:975px;
  width:89px;
  height:93px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4473 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:1022px;
  width:0px;
  height:0px;
  transition:none;
}
#u4473_seg0 {
  border-width:0px;
  position:absolute;
  left:-337px;
  top:-6px;
  width:343px;
  height:12px;
}
#u4473_text {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4474 {
  border-width:0px;
  position:absolute;
  left:3089px;
  top:125px;
  width:170px;
  height:88px;
  display:flex;
  transition:none;
}
#u4474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:88px;
}
#u4474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:48px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.4745098039215686);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4475 {
  border-width:0px;
  position:absolute;
  left:3087px;
  top:65px;
  width:132px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:48px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.4745098039215686);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:3085px;
  top:221px;
  width:132px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:48px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.4745098039215686);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4477 {
  border-width:0px;
  position:absolute;
  left:3272px;
  top:151px;
  width:132px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4478 {
  border-width:0px;
  position:absolute;
  left:3152px;
  top:129px;
  width:2px;
  height:2px;
  display:flex;
  transition:none;
}
#u4478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u4478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4479 {
  border-width:0px;
  position:absolute;
  left:3153px;
  top:113px;
  width:0px;
  height:0px;
  transition:none;
}
#u4479_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:21px;
}
#u4479_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4480 {
  border-width:0px;
  position:absolute;
  left:3204px;
  top:195px;
  width:13px;
  height:2px;
  display:flex;
  transition:none;
}
#u4480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4480_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:16px;
  height:5px;
}
#u4480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4481 {
  border-width:0px;
  position:absolute;
  left:3222px;
  top:195px;
  width:19px;
  height:2px;
  display:flex;
  transition:none;
}
#u4481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4481_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:5px;
}
#u4481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4482 {
  border-width:0px;
  position:absolute;
  left:3151px;
  top:221px;
  width:0px;
  height:0px;
  transition:none;
}
#u4482_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-19px;
  width:10px;
  height:19px;
}
#u4482_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-19px;
  width:70px;
  height:10px;
}
#u4482_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-24px;
  width:10px;
  height:15px;
}
#u4482_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4483 {
  border-width:0px;
  position:absolute;
  left:3232px;
  top:197px;
  width:0px;
  height:0px;
  transition:none;
}
#u4483_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:15px;
}
#u4483_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:5px;
  width:116px;
  height:10px;
}
#u4483_seg2 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:2px;
  width:10px;
  height:13px;
}
#u4483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
