body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-9px;
  width:1429px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1429px;
  height:853px;
}
#u5771 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:1429px;
  height:853px;
  display:flex;
}
#u5771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:418px;
}
#u5772 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:238px;
  width:521px;
  height:418px;
  display:flex;
}
#u5772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:328px;
}
#u5773 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:447px;
  width:495px;
  height:328px;
  display:flex;
}
#u5773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:218px;
}
#u5774 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:230px;
  width:513px;
  height:218px;
  display:flex;
}
#u5774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
