body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-125px;
  width:969px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7693 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:190px;
  width:100px;
  height:100px;
  display:flex;
}
#u7693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7694 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:226px;
  width:66px;
  height:35px;
  display:flex;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7695_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:86px;
}
#u7695 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:200px;
  width:50px;
  height:80px;
  display:flex;
}
#u7695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7696 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:144px;
  width:180px;
  height:41px;
  display:flex;
}
#u7696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7697 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:295px;
  width:180px;
  height:41px;
  display:flex;
}
#u7697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7698 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:218px;
  width:180px;
  height:41px;
  display:flex;
}
#u7698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7699 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:240px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7699_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:82px;
  height:12px;
}
#u7699_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-81px;
  width:12px;
  height:87px;
}
#u7699_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-81px;
  width:82px;
  height:12px;
}
#u7699_seg3 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-93px;
  width:36px;
  height:36px;
}
#u7699_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7700 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:240px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7700_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:82px;
  height:12px;
}
#u7700_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-7px;
  width:12px;
  height:13px;
}
#u7700_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-7px;
  width:82px;
  height:12px;
}
#u7700_seg3 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-19px;
  width:36px;
  height:36px;
}
#u7700_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7701 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:240px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7701_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:82px;
  height:12px;
}
#u7701_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-6px;
  width:12px;
  height:88px;
}
#u7701_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:70px;
  width:82px;
  height:12px;
}
#u7701_seg3 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:58px;
  width:36px;
  height:36px;
}
#u7701_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7702 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:240px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7702_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:132px;
  height:12px;
}
#u7702_seg1 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-18px;
  width:36px;
  height:36px;
}
#u7702_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7703 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:90px;
  width:56px;
  height:40px;
  display:flex;
}
#u7703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7704 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:130px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7704_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:66px;
}
#u7704_seg1 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:36px;
  width:36px;
  height:36px;
}
#u7704_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7705 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:142px;
  width:151px;
  height:46px;
  display:flex;
}
#u7705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7706 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:165px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7706_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:216px;
  height:12px;
}
#u7706_seg1 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-18px;
  width:36px;
  height:36px;
}
#u7706_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7707 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:266px;
  width:100px;
  height:100px;
  display:flex;
}
#u7707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7708 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:316px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7708_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:92px;
  height:12px;
}
#u7708_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-18px;
  width:36px;
  height:36px;
}
#u7708_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7709 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:316px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7709_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:106px;
  height:12px;
}
#u7709_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-128px;
  width:12px;
  height:134px;
}
#u7709_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-140px;
  width:36px;
  height:36px;
}
#u7709_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7710 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:239px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7710_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:111px;
  height:12px;
}
#u7710_seg1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-80px;
  width:12px;
  height:86px;
}
#u7710_seg2 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-80px;
  width:111px;
  height:12px;
}
#u7710_seg3 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-92px;
  width:36px;
  height:36px;
}
#u7710_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-45px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7711_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:86px;
}
#u7711 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:416px;
  width:50px;
  height:80px;
  display:flex;
}
#u7711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7712 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:406px;
  width:100px;
  height:100px;
  display:flex;
}
#u7712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7713 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:439px;
  width:66px;
  height:35px;
  display:flex;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7713 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7713_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7714 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:456px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7714_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:132px;
  height:12px;
}
#u7714_seg1 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-18px;
  width:36px;
  height:36px;
}
#u7714_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7715 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:433px;
  width:151px;
  height:46px;
  display:flex;
}
#u7715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7716 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:456px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7716_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:158px;
  height:12px;
}
#u7716_seg1 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-18px;
  width:36px;
  height:36px;
}
#u7716_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7717 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:433px;
  width:151px;
  height:46px;
  display:flex;
}
#u7717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7718 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:456px;
  width:0px;
  height:0px;
  font-size:30px;
}
#u7718_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:121px;
  height:12px;
}
#u7718_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-18px;
  width:36px;
  height:36px;
}
#u7718_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
