body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1865px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:406px;
}
#u7678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:406px;
  display:flex;
}
#u7678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#70B603;
}
#u7679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:487px;
  width:74px;
  height:20px;
  display:flex;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#70B603;
}
#u7679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:406px;
}
#u7680 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:0px;
  width:218px;
  height:406px;
  display:flex;
}
#u7680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7681 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:497px;
  width:300px;
  height:84px;
  display:flex;
}
#u7681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:406px;
}
#u7682 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:212px;
  height:406px;
  display:flex;
}
#u7682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7683 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:487px;
  width:300px;
  height:84px;
  display:flex;
}
#u7683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:406px;
}
#u7684 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:0px;
  width:221px;
  height:406px;
  display:flex;
}
#u7684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7685 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:473px;
  width:300px;
  height:98px;
  display:flex;
}
#u7685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:398px;
}
#u7686 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:621px;
  width:266px;
  height:398px;
  display:flex;
}
#u7686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:398px;
}
#u7687 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:621px;
  width:205px;
  height:398px;
  display:flex;
}
#u7687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:398px;
}
#u7688 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:621px;
  width:198px;
  height:398px;
  display:flex;
}
#u7688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:398px;
}
#u7689 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:621px;
  width:199px;
  height:398px;
  display:flex;
}
#u7689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u7690 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:1229px;
  width:300px;
  height:170px;
  display:flex;
}
#u7690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7691 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:453px;
  width:300px;
  height:98px;
  display:flex;
}
#u7691 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7692 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:417px;
  width:300px;
  height:154px;
  display:flex;
}
#u7692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
