body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1865px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:406px;
  display:flex;
  transition:none;
}
#u7663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:406px;
}
#u7663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#70B603;
}
#u7664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:487px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#70B603;
}
#u7664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7664_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7665 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:0px;
  width:218px;
  height:406px;
  display:flex;
  transition:none;
}
#u7665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:406px;
}
#u7665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7666 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:497px;
  width:300px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7667 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:212px;
  height:406px;
  display:flex;
  transition:none;
}
#u7667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:406px;
}
#u7667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7668 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:487px;
  width:300px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7669 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:0px;
  width:221px;
  height:406px;
  display:flex;
  transition:none;
}
#u7669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:406px;
}
#u7669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7670 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:473px;
  width:300px;
  height:98px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7670 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7671 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:621px;
  width:266px;
  height:398px;
  display:flex;
  transition:none;
}
#u7671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:398px;
}
#u7671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7672 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:621px;
  width:205px;
  height:398px;
  display:flex;
  transition:none;
}
#u7672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:398px;
}
#u7672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7673 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:621px;
  width:198px;
  height:398px;
  display:flex;
  transition:none;
}
#u7673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:398px;
}
#u7673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7674 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:621px;
  width:199px;
  height:398px;
  display:flex;
  transition:none;
}
#u7674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:398px;
}
#u7674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7675 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:1229px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
}
#u7675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u7675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7676 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:453px;
  width:300px;
  height:98px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7677 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:417px;
  width:300px;
  height:154px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7677 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
