body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(85, 85, 85, 0.0784313725490196);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1920px;
  height:1080px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:765px;
  height:1080px;
  display:flex;
  transition:none;
}
#u6324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:1080px;
}
#u6324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:165px;
  display:flex;
  opacity:0.2;
  transition:none;
}
#u6325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:165px;
}
#u6325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u6326 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:29px;
  width:184px;
  height:66px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u6326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6326_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6328 {
  border-width:0px;
  position:absolute;
  left:1819px;
  top:37px;
  width:68px;
  height:68px;
  display:flex;
  transition:none;
}
#u6328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u6328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6330 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:44px;
  width:234px;
  height:51px;
  display:flex;
  transition:none;
}
#u6330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:51px;
}
#u6330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6331 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:40px;
  width:60px;
  height:60px;
  display:flex;
  transition:none;
}
#u6331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6332 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:59px;
  width:112px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6334 {
  border-width:0px;
  position:absolute;
  left:1548px;
  top:44px;
  width:234px;
  height:51px;
  display:flex;
  transition:none;
}
#u6334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:51px;
}
#u6334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6335 {
  border-width:0px;
  position:absolute;
  left:1548px;
  top:40px;
  width:60px;
  height:60px;
  display:flex;
  transition:none;
}
#u6335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6336 {
  border-width:0px;
  position:absolute;
  left:1616px;
  top:59px;
  width:112px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6336 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6336_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6337 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:125px;
  width:1870px;
  height:942px;
  touch-action:none;
}
#u6337_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:942px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6337_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:130px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
.u6341 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:22px;
  width:566px;
  height:130px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u6341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:71px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u6342 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:81px;
  width:566px;
  height:71px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u6342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
.u6345 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:84px;
  width:64px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u6345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6346 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:72px;
  width:88px;
  height:88px;
  display:flex;
  transition:none;
}
.u6346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
.u6346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
.u6348 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:84px;
  width:64px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u6348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6349 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:72px;
  width:88px;
  height:88px;
  display:flex;
  transition:none;
}
.u6349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
.u6349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
.u6351 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:84px;
  width:64px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u6351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6352 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:72px;
  width:88px;
  height:88px;
  display:flex;
  transition:none;
}
.u6352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
.u6352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
.u6353 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:38px;
  width:423px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
.u6353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6353_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u6354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
  display:flex;
  transition:none;
}
.u6355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
.u6355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6356 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:108px;
  height:108px;
  display:flex;
  transition:none;
}
.u6356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
.u6356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6339-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:160px;
}
#u6339-2 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:0px;
  width:583px;
  height:160px;
}
#u6339-3 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:0px;
  width:583px;
  height:160px;
}
#u6339-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:583px;
  height:160px;
}
#u6339-5 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:170px;
  width:583px;
  height:160px;
}
#u6339-6 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:170px;
  width:583px;
  height:160px;
}
#u6339-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:583px;
  height:160px;
}
#u6339 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:40px;
  width:1799px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
