body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1247px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2699 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:142px;
  width:90px;
  height:558px;
  display:flex;
  transition:none;
}
#u2699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:558px;
}
#u2699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2700 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:693px;
  width:73px;
  height:78px;
  display:flex;
  transition:none;
}
#u2700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:78px;
}
#u2700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2701 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:780px;
  width:73px;
  height:129px;
  display:flex;
  transition:none;
}
#u2701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:129px;
}
#u2701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2702 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:67px;
  width:56px;
  height:201px;
  display:flex;
  transition:none;
}
#u2702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:201px;
}
#u2702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
