body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2639px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:768px;
}
#u6947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:768px;
  display:flex;
}
#u6947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:768px;
}
#u6948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:803px;
  width:1305px;
  height:768px;
  display:flex;
}
#u6948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:768px;
}
#u6949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1593px;
  width:1305px;
  height:768px;
  display:flex;
}
#u6949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:768px;
}
#u6950 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:0px;
  width:1305px;
  height:768px;
  display:flex;
}
#u6950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
