body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-19px;
  width:758px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:15px;
  width:146px;
  height:146px;
  display:flex;
  transition:none;
}
#u2760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u2760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:15px;
  width:152px;
  height:145px;
  display:flex;
  transition:none;
}
#u2761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:145px;
}
#u2761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:122px;
  width:22px;
  height:21px;
  display:flex;
  transition:none;
}
#u2763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u2763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:122px;
  width:23px;
  height:21px;
  display:flex;
  transition:none;
}
#u2764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u2764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:122px;
  width:23px;
  height:21px;
  display:flex;
  transition:none;
}
#u2765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u2765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:122px;
  width:22px;
  height:21px;
  display:flex;
  transition:none;
}
#u2766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u2766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:122px;
  width:22px;
  height:21px;
  display:flex;
  transition:none;
}
#u2767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u2767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:75px;
  width:41px;
  height:36px;
  display:flex;
  transition:none;
}
#u2768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u2768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:46px;
  width:262px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2769 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2769_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:19px;
  width:263px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:79px;
  width:172px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:80px;
  width:368px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:119px;
  width:123px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:154px;
  width:172px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:190px;
  width:270px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:15px;
  width:134px;
  height:52px;
  display:flex;
  opacity:0.48;
  transition:none;
}
#u2776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u2776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:339px;
  width:120px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:327px;
  width:152px;
  height:145px;
  display:flex;
  transition:none;
}
#u2779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:145px;
}
#u2779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:361px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2780_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:409px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2781 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:336px;
  width:117px;
  height:123px;
  display:flex;
  transition:none;
}
#u2782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:123px;
}
#u2782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:371px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2783_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:90px;
  height:10px;
}
#u2783_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-2px;
  width:10px;
  height:7px;
}
#u2783_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:419px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2784_seg0 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-5px;
  width:97px;
  height:10px;
}
#u2784_seg1 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-1px;
  width:10px;
  height:6px;
}
#u2784_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:419px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2785_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:111px;
  height:10px;
}
#u2785_seg1 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-17px;
  width:10px;
  height:22px;
}
#u2785_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:371px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2786_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-5px;
  width:74px;
  height:10px;
}
#u2786_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:488px;
  width:120px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:476px;
  width:152px;
  height:145px;
  display:flex;
  transition:none;
}
#u2789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:145px;
}
#u2789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:586px;
  width:120px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:586px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:596px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2792_seg0 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-5px;
  width:86px;
  height:10px;
}
#u2792_seg1 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-5px;
  width:10px;
  height:6px;
}
#u2792_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:596px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2793_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:159px;
  height:10px;
}
#u2793_seg1 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-170px;
  width:10px;
  height:175px;
}
#u2793_text {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:490px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:508px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:527px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:511px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:521px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2798_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-5px;
  width:57px;
  height:10px;
}
#u2798_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:521px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2799_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:91px;
  height:10px;
}
#u2799_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-77px;
  width:10px;
  height:82px;
}
#u2799_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:487px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2800 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2800_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:517px;
  width:39px;
  height:39px;
  display:flex;
  transition:none;
}
#u2801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u2801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:519px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
}
#u2802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:419px;
  width:174px;
  height:58px;
  display:flex;
  transition:none;
}
#u2803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
}
#u2803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:488px;
  width:43px;
  height:17px;
  display:flex;
  transition:none;
}
#u2804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u2804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:562px;
  width:43px;
  height:17px;
  display:flex;
  transition:none;
}
#u2805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:562px;
  width:43px;
  height:17px;
  display:flex;
  transition:none;
}
#u2806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:586px;
  width:43px;
  height:17px;
  display:flex;
  transition:none;
}
#u2807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:586px;
  width:43px;
  height:17px;
  display:flex;
  transition:none;
}
#u2808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:497px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2809_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:28px;
  height:10px;
}
#u2809_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:656px;
  width:82px;
  height:76px;
  display:flex;
  transition:none;
}
#u2810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:76px;
}
#u2810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:586px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:625px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:635px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2813_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:22px;
  height:10px;
}
#u2813_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-28px;
  width:10px;
  height:33px;
}
#u2813_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:645px;
  width:0px;
  height:0px;
  transition:none;
  font-size:30px;
}
#u2814_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:32px;
}
#u2814_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:22px;
  width:67px;
  height:10px;
}
#u2814_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
