body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:1007px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u17800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:1007px;
}
#u17800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17801 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:743px;
  width:936px;
  height:337px;
  display:flex;
  opacity:0.62;
  transition:none;
  color:#AAAAAA;
}
#u17801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:337px;
}
#u17801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17802 {
  border-width:0px;
  position:absolute;
  left:1698px;
  top:0px;
  width:222px;
  height:130px;
  display:flex;
  transition:none;
}
#u17802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:130px;
}
#u17802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:1078px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u17803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:1078px;
}
#u17803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17804 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:-1px;
  width:866px;
  height:1082px;
  display:flex;
  transition:none;
}
#u17804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:1082px;
}
#u17804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17805 {
  border-width:0px;
  position:absolute;
  left:1796px;
  top:17px;
  width:94px;
  height:94px;
  display:flex;
  transition:none;
}
#u17805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u17805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17807 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:90px;
  width:789px;
  height:581px;
  display:flex;
  transition:none;
}
#u17807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17807_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:819px;
  height:611px;
}
#u17807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17808 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:483px;
  width:778px;
  height:389px;
  display:flex;
  transition:none;
}
#u17808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17808_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:808px;
  height:419px;
}
#u17808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17809 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:857px;
  width:795px;
  height:194px;
  display:flex;
  transition:none;
}
#u17809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17809_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:825px;
  height:224px;
}
#u17809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:82px;
}
#u17810 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:193px;
  width:716px;
  height:94px;
  display:flex;
  -webkit-transform:rotate(332deg);
  -moz-transform:rotate(332deg);
  -ms-transform:rotate(332deg);
  transform:rotate(332deg);
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:82px;
}
#u17810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17810_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17811 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:335px;
  width:240px;
  height:69px;
  display:flex;
  -webkit-transform:rotate(336deg);
  -moz-transform:rotate(336deg);
  -ms-transform:rotate(336deg);
  transform:rotate(336deg);
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17812 {
  border-width:0px;
  position:absolute;
  left:1591px;
  top:670px;
  width:240px;
  height:69px;
  display:flex;
  -webkit-transform:rotate(348deg);
  -moz-transform:rotate(348deg);
  -ms-transform:rotate(348deg);
  transform:rotate(348deg);
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17813 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:983px;
  width:240px;
  height:69px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17814 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:536px;
  width:236px;
  height:69px;
  display:flex;
  -webkit-transform:rotate(336deg);
  -moz-transform:rotate(336deg);
  -ms-transform:rotate(336deg);
  transform:rotate(336deg);
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17814 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17815 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:763px;
  width:202px;
  height:69px;
  display:flex;
  -webkit-transform:rotate(348deg);
  -moz-transform:rotate(348deg);
  -ms-transform:rotate(348deg);
  transform:rotate(348deg);
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17816 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:982px;
  width:236px;
  height:69px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u17816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1154px;
  width:1920px;
  height:1080px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17819 {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:1154px;
  width:1857px;
  height:552px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u17819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:552px;
}
#u17819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17820 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:1897px;
  width:1912px;
  height:337px;
  display:flex;
  opacity:0.62;
  transition:none;
  color:#AAAAAA;
}
#u17820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:337px;
}
#u17820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17821 {
  border-width:0px;
  position:absolute;
  left:1698px;
  top:1154px;
  width:222px;
  height:130px;
  display:flex;
  transition:none;
}
#u17821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:130px;
}
#u17821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1162px;
  width:1698px;
  height:1062px;
  display:flex;
  transition:none;
}
#u17823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1698px;
  height:1062px;
}
#u17823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1154px;
  width:1920px;
  height:1080px;
  display:flex;
  transition:none;
}
#u17824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u17824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17825 {
  border-width:0px;
  position:absolute;
  left:1796px;
  top:1171px;
  width:94px;
  height:94px;
  display:flex;
  transition:none;
}
#u17825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u17825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:17px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17828 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:2121px;
  width:743px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:17px;
  background:inherit;
  background-color:rgba(170, 139, 76, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17829 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:2121px;
  width:217px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 168, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17831 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:2110px;
  width:40px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  transition:none;
  transform-origin:50% 50%;
}
#u17831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17832 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:2112px;
  width:18px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 138, 1, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17834 {
  border-width:0px;
  position:absolute;
  left:1311px;
  top:2110px;
  width:40px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  transition:none;
  transform-origin:50% 50%;
}
#u17834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17835 {
  border-width:0px;
  position:absolute;
  left:1321px;
  top:2112px;
  width:18px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17837 {
  border-width:0px;
  position:absolute;
  left:1526px;
  top:2110px;
  width:40px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  transition:none;
  transform-origin:50% 50%;
}
#u17837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17838 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:2112px;
  width:18px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17840 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:2110px;
  width:40px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  transition:none;
  transform-origin:50% 50%;
}
#u17840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17841 {
  border-width:0px;
  position:absolute;
  left:1752px;
  top:2112px;
  width:18px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17841 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17841_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 138, 1, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u17843 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:2111px;
  width:61px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17844 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:2123px;
  width:22px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  transition:none;
}
#u17844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u17844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17845 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:2120px;
  width:36px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#EEEEEE;
}
#u17847 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:2167px;
  width:96px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#EEEEEE;
}
#u17847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#E2B664;
}
#u17848 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:2167px;
  width:96px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#E2B664;
}
#u17848 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17848_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#EEEEEE;
}
#u17849 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:2167px;
  width:96px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#EEEEEE;
}
#u17849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17849_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#EEEEEE;
}
#u17850 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:2167px;
  width:96px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#EEEEEE;
}
#u17850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u17853 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1208px;
  width:240px;
  height:69px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u17853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17854 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1283px;
  width:470px;
  height:2px;
  display:flex;
  transition:none;
  color:#D5D5D5;
}
#u17854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17854_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:473px;
  height:5px;
}
#u17854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#E6E6E6;
}
#u17855 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:1234px;
  width:129px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#E6E6E6;
}
#u17855 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17855_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17857 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:1340px;
  width:47px;
  height:7px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
}
#u17857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:7px;
}
#u17857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#DFDFDF;
}
#u17858 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1307px;
  width:193px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#DFDFDF;
}
#u17858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17858_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#DFDFDF;
}
#u17859 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1349px;
  width:191px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#DFDFDF;
}
#u17859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17859_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:281px;
  background:inherit;
  background-color:rgba(83, 83, 83, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u17861 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1914px;
  width:200px;
  height:281px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17862 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1914px;
  width:177px;
  height:177px;
  display:flex;
  transition:none;
}
#u17862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:177px;
}
#u17862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#EEEEEE;
}
#u17863 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:2091px;
  width:128px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#EEEEEE;
}
#u17863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17863_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  background:inherit;
  background-color:rgba(164, 164, 164, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
  color:#FFFFFF;
}
#u17864 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:2137px;
  width:162px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
  color:#FFFFFF;
}
#u17864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:281px;
  background:inherit;
  background-color:rgba(83, 83, 83, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u17866 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1914px;
  width:200px;
  height:281px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#EEEEEE;
}
#u17867 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:2091px;
  width:160px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#EEEEEE;
}
#u17867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  background:inherit;
  background-color:rgba(164, 164, 164, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
  color:#FFFFFF;
}
#u17868 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:2137px;
  width:162px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
  color:#FFFFFF;
}
#u17868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17869 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1922px;
  width:199px;
  height:168px;
  display:flex;
  transition:none;
}
#u17869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:168px;
}
#u17869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:281px;
  background:inherit;
  background-color:rgba(83, 83, 83, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u17871 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:1914px;
  width:200px;
  height:281px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#EEEEEE;
}
#u17872 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:2091px;
  width:128px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#EEEEEE;
}
#u17872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17872_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  background:inherit;
  background-color:rgba(164, 164, 164, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
  color:#FFFFFF;
}
#u17873 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:2137px;
  width:162px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
  color:#FFFFFF;
}
#u17873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17874 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1937px;
  width:169px;
  height:143px;
  display:flex;
  transition:none;
}
#u17874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:143px;
}
#u17874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:217px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.38823529411764707);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#9F9F9F;
}
#u17876 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:1292px;
  width:670px;
  height:217px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#9F9F9F;
}
#u17876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17877 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:1349px;
  width:476px;
  height:3px;
  display:flex;
  transition:none;
}
#u17877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17877_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:480px;
  height:7px;
}
#u17877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:217px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6431372549019608);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#9F9F9F;
}
#u17878 {
  border-width:0px;
  position:absolute;
  left:1776px;
  top:1292px;
  width:81px;
  height:217px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#9F9F9F;
}
#u17878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F9F9F9;
}
#u17879 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:1302px;
  width:128px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F9F9F9;
}
#u17879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#F9F9F9;
}
#u17880 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:1362px;
  width:427px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#F9F9F9;
}
#u17880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u17882 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:1413px;
  width:77px;
  height:77px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17883 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:1410px;
  width:83px;
  height:83px;
  display:flex;
  transition:none;
}
#u17883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u17883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17884 {
  border-width:0px;
  position:absolute;
  left:1547px;
  top:1438px;
  width:130px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u17885 {
  border-width:0px;
  position:absolute;
  left:1803px;
  top:1354px;
  width:28px;
  height:93px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u17885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:170px;
  color:#CACACA;
}
#u17886 {
  border-width:0px;
  position:absolute;
  left:1656px;
  top:122px;
  width:95px;
  height:196px;
  display:flex;
  -webkit-transform:rotate(336deg);
  -moz-transform:rotate(336deg);
  -ms-transform:rotate(336deg);
  transform:rotate(336deg);
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:170px;
  color:#CACACA;
}
#u17886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:170px;
  color:#CACACA;
}
#u17887 {
  border-width:0px;
  position:absolute;
  left:1727px;
  top:480px;
  width:95px;
  height:196px;
  display:flex;
  -webkit-transform:rotate(346deg);
  -moz-transform:rotate(346deg);
  -ms-transform:rotate(346deg);
  transform:rotate(346deg);
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:170px;
  color:#CACACA;
}
#u17887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:150px;
  color:#CACACA;
}
#u17888 {
  border-width:0px;
  position:absolute;
  left:1740px;
  top:839px;
  width:84px;
  height:173px;
  display:flex;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -ms-transform:rotate(2deg);
  transform:rotate(2deg);
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:150px;
  color:#CACACA;
}
#u17888 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17888_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
