body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:10530px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:649px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:649px;
  display:flex;
}
#u1288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:646px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:655px;
  width:1436px;
  height:646px;
  display:flex;
}
#u1289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:648px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:1px;
  width:1440px;
  height:648px;
  display:flex;
}
#u1290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:648px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:655px;
  width:1440px;
  height:648px;
  display:flex;
}
#u1291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:646px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1327px;
  width:1436px;
  height:646px;
  display:flex;
}
#u1292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:810px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:1327px;
  width:1440px;
  height:810px;
  display:flex;
}
#u1293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:810px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:2918px;
  top:1327px;
  width:1440px;
  height:810px;
  display:flex;
}
#u1294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:808px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1990px;
  width:1436px;
  height:808px;
  display:flex;
}
#u1295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:810px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:2162px;
  width:1440px;
  height:810px;
  display:flex;
}
#u1296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:810px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:2918px;
  top:2162px;
  width:1440px;
  height:810px;
  display:flex;
}
#u1297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:810px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:3004px;
  width:1440px;
  height:810px;
  display:flex;
}
#u1298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:810px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:2918px;
  top:3004px;
  width:1440px;
  height:810px;
  display:flex;
}
#u1299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:648px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:3842px;
  width:1440px;
  height:648px;
  display:flex;
}
#u1300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2480px;
  height:1116px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:4430px;
  top:0px;
  width:2480px;
  height:1116px;
  display:flex;
}
#u1301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2480px;
  height:1116px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:4430px;
  top:1136px;
  width:2480px;
  height:1116px;
  display:flex;
}
#u1302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2480px;
  height:1116px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:6934px;
  top:0px;
  width:2480px;
  height:1116px;
  display:flex;
}
#u1303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1786px;
  height:1116px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:6934px;
  top:1136px;
  width:1786px;
  height:1116px;
  display:flex;
}
#u1304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1785px;
  height:1116px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:6934px;
  top:2272px;
  width:1785px;
  height:1116px;
  display:flex;
}
#u1305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:50px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:10330px;
  top:1058px;
  width:200px;
  height:58px;
  display:flex;
  font-size:50px;
}
#u1306 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1306_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
